body {
  margin: 0;
  padding: 30px 0;
  background-color: #563d7c;
}

a:hover {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

#app {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  border: 2px solid #1f162d;
  border-radius: 15px;
  overflow: hidden;
}

aside,
main {
  padding: 20px 0;
}

#projectsList .list-group-item.active {
  background-color: #fff;
  color: #000;
}
